<%- include("../layout.ejs") %>

<body>
    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis" href="/homepage">World</a>
            <a class="nav-item nav-link link-body-emphasis active" href="/homepage/India">India</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Technology">Technology</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Business">Business</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Politics">Politics</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Health">Health</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Travel">Travel</a>
          </nav>
        </div>
        <div class="blog-cards row w-100 mb-2 d-flex">
            <div class="sub-card col-md-4">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary-emphasis">India</strong>
                  <h3 class="mb-0">Tragedy in Wayanad: The 2024 Landslide Catastrophe</h3>
                  <div class="mb-1 text-body-secondary">Jul 31</div>
                  <p class="card-text mb-auto">On July 30, 2024, the serene district of Wayanad in Kerala, India, was struck by a series of devastating landslides that led to...</p>
                  <a href="/read/wayanad" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading</a>
                </div>
                <div class="image d-block d-lg-block">
                  <img src="/assets/wayanad1.jpeg" width="100%">
                </div>
              </div>
            </div>
            <div class="sub-card col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">India</strong>
                    <h3 class="mb-0">The Magic of Indian Cinema: A Kaleidoscope of Culture and Creativity</h3>
                    <div class="mb-1 text-body-secondary">Jan 23</div>
                    <p class="card-text mb-auto">Indian cinema, a sprawling tapestry of art, culture, and emotion, has been enchanting audiences for over a century. From the...</p>
                    <a href="/read/cinema" class="icon-link gap-1 icon-link-hover stretched-link">
                      Continue reading</a>
                  </div>
                  <div class="image d-block d-lg-block">
                    <img src="/assets/cinema1.jpg" width="100%">
                  </div>
                </div>
              </div>
              <div class="sub-card col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">India</strong>
                    <h3 class="mb-0">From Ancient Attire to Contemporary Couture: The Evolution of Fashion in India</h3>
                    <div class="mb-1 text-body-secondary">Dec 07</div>
                    <p class="card-text mb-auto">Fashion in India is a vibrant tapestry woven through centuries of cultural, historical...</p>
                    <a href="/read/fashion" class="icon-link gap-1 icon-link-hover stretched-link">
                      Continue reading</a>
                  </div>
                  <div class="image d-block d-lg-block">
                    <img src="/assets/fashion1.jpg" width="100%">
                  </div>
                </div>
              </div>
              <div class="sub-card col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">India</strong>
                    <h3 class="mb-0">Unlocking Potential: The Journey Toward Quality Education in India</h3>
                    <div class="mb-1 text-body-secondary">Nov 12</div>
                    <p class="card-text mb-auto">India, a nation renowned for its rich history and diverse culture, stands at a pivotal crossroads in its quest for quality...</p>
                    <a href="/read/education" class="icon-link gap-1 icon-link-hover stretched-link">
                      Continue reading</a>
                  </div>
                  <div class="image d-block d-lg-block">
                    <img src="/assets/education.jpg" width="100%">
                  </div>
                </div>
              </div>
            <div class="sub-card col-md-4">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary-emphasis">India</strong>
                  <h3 class="mb-0">Flavors of India: A Culinary Journey Through Spice and Tradition</h3>
                  <div class="mb-1 text-body-secondary">Sep 12</div>
                  <p class="card-text mb-auto">India's culinary landscape is a vibrant tapestry woven from centuries of tradition, regional diversity, and...</p>
                  <a href="/read/culinary" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading</a>
                </div>
                <div class="image d-block d-lg-block">
                  <img src="/assets/culinary1.jpg" width="100%">
                </div>
              </div>
            </div>
            <div class="sub-card col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">India</strong>
                    <h3 class="mb-0">India's Startup Surge: A New Wave of Innovation</h3>
                    <div class="mb-1 text-body-secondary">Nov 11</div>
                    <p class="card-text mb-auto">India’s startup ecosystem is experiencing a transformative wave of growth, fueling the country’s economic dynamism and creativity. Over...</p>
                    <a href="/read/startup" class="icon-link gap-1 icon-link-hover stretched-link">
                      Continue reading</a>
                  </div>
                  <div class="image d-block d-lg-block">
                    <img src="/assets/startup.jpg" width="100%">
                  </div>
                </div>
              </div>
          </div>
          <%- include("footer.ejs") %>
</body>