<%- include("../layout.ejs") %>

<body>
    <div class="nav-scroller py-1 mb-3 border-bottom">
        <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis" href="/homepage">World</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/India">India</a>
            <a class="nav-item nav-link link-body-emphasis active" href="/homepage/Technology">Technology</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Business">Business</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Politics">Politics</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Health">Health</a>
            <a class="nav-item nav-link link-body-emphasis" href="/homepage/Travel">Travel</a>
          </nav>
        </div>
        <div class="blog-cards row w-100 mb-2 d-flex">
            <div class="sub-card col-md-4">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary-emphasis">Technology</strong>
                  <h3 class="mb-0">5G: The Game-Changer That's Reshaping Our Digital Future</h3>
                  <div class="mb-1 text-body-secondary">Nov 12</div>
                  <p class="card-text mb-auto">The advent of 5G technology marks a significant milestone in the evolution of mobile networks, promising to...</p>
                  <a href="/read/fiveg" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading</a>
                </div>
                <div class="image d-block d-lg-block">
                  <img src="/assets/fiveg.jpg" width="100%">
                </div>
              </div>
            </div>
            <div class="sub-card col-md-4">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary-emphasis">Technology</strong>
                  <h3 class="mb-0">AI Revolution: Transforming Tomorrow, Today</h3>
                  <div class="mb-1 text-body-secondary">Feb 13</div>
                  <p class="card-text mb-auto">Artificial Intelligence (AI) is no longer a futuristic concept; it's a driving force reshaping our present and defining...</p>
                  <a href="/read/ai" class="icon-link gap-1 icon-link-hover stretched-link">
                    Continue reading</a>
                </div>
                <div class="image d-block d-lg-block">
                  <img src="/assets/ai.jpg" width="100%">
                </div>
              </div>
            </div>
            <div class="sub-card col-md-4">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">Technology</strong>
                    <h3 class="mb-0">Guardians of the Digital Realm: Navigating Cybersecurity Challenges</h3>
                    <div class="mb-1 text-body-secondary">Nov 05</div>
                    <p class="card-text mb-auto">In today’s hyper-connected world, cybersecurity has become a paramount concern for individuals, businesses...</p>
                    <a href="/read/cyber" class="icon-link gap-1 icon-link-hover stretched-link">
                      Continue reading</a>
                  </div>
                  <div class="image d-block d-lg-block">
                    <img src="/assets/cybersecurity.jpg" width="100%">
                  </div>
                </div>
              </div>
          </div>
          <%- include("footer.ejs") %>
</body>